################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Practice/ClassDiagram/obj/Debug
/Practice/ClassDiagram/bin/Debug
/Practice/.vs/ClassDiagram/v17
